html {
    scrollbar-gutter: stable
}

.table-header {
    margin: 0;
}

.clear-items {
    border: 1px solid rgb(206, 212, 218);
}

.clear-items:hover {
    background-color: rgb(218, 223, 229);
}

.no-results {
    font-style: italic;
}

.sp-category {
    color: rgb(120, 120, 120);
    font-size: small;
    margin-left: 1em;
}

.item-search-icon {
    float: right;
    margin-right: 1em;
}

.clickable {
    cursor: pointer;
}

.td-chance {
    width: 1px;
    white-space: nowrap;
}

.td-collapse {
    padding-left: 2em !important;
}

.footer-text {
    font-size: small;
}