html {
    scrollbar-gutter: stable
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header>.container {
    background-color: var(--bs-body-bg);
}

.header-spacer {
    background-image: linear-gradient(to bottom, var(--bs-body-bg), rgba(255, 255, 255, 0));
    height: .5em;
}

.page-title {
    margin-bottom: 0;
}

.table-header {
    margin: 0;
}

.search-tooltip {
    position: absolute;
    margin-top: .45em;
    right: 4.5em;
}

.clear-items {
    border: 1px solid var(--bs-border-color);
    border-radius: 0 6px 6px 0 !important;
    background-color: var(--bs-tertiary-bg);
    width: 4em;
}

.clear-items:hover {
    background-color: var(--bs-tertiary-color);
}

.no-results {
    font-style: italic;
}

.sp-category {
    color: rgb(120, 120, 120);
    font-size: small;
    margin-left: 1em;
}

.item-search-icon {
    float: right;
    margin-right: 1em;
}

.clickable {
    cursor: pointer;
}

.td-chance {
    width: 1px;
    white-space: nowrap;
}

.td-collapse {
    padding-left: 2em !important;
}

.footer-text {
    font-size: small;
}

/* #region Dark Mode */
#dark-mode-toggle {
    display: none;
}

.dark-mode-col {
    user-select: none;
    margin-top: .5em;
    transform: scale(0.5);
}

.dark-mode-col > label {
    display: block;
    right: 0;
    left: 0;
    width: 116px;
    height: 56px;
    margin: 0 auto;
    background-color: #77b5fe;
    border-radius: 56px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s ease background-color;
    overflow: hidden;
}

#star {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 30px;
    height: 30px;
    background-color: #fafd0f;
    transform: scale(1);
    border-radius: 50%;
    transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease background-color;
    z-index: 1;
}

#star-1 {
    position: relative;
    top: -4px;
}

#star-2 {
    position: absolute;
    top: -3px;
    left: -5px;
    transform: rotateZ(36deg);
}

.star {
    top: 0;
    left: -7px;
    font-size: 54px;
    line-height: 28px;
    color: #fafd0f;
    transition: 0.3s ease color;
}

#moon {
    position: absolute;
    bottom: -52px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease bottom;
}

#moon:before {
    content: "";
    position: absolute;
    top: -12px;
    left: -17px;
    width: 40px;
    height: 40px;
    background-color: #03a9f4;
    border-radius: 50%;
    transition: 0.3s ease background-color;
}

#dark-mode-toggle:checked+label {
    background-color: #000;
}

#dark-mode-toggle:checked+label #star {
    top: 3px;
    left: 64px;
    transform: scale(0.3);
    background-color: #000;
}

#dark-mode-toggle:checked+label #star-1 {
    display: none;
}

#dark-mode-toggle:checked+label .star {
    color: yellow;
}

#dark-mode-toggle:checked+label #moon {
    bottom: 8px;
}

#dark-mode-toggle:checked+label #moon:before {
    background-color: #000;
}
/* #endregion */